p {
    color: yellow;
}

.bg-purple {
    background-color: purple;
}

.bg-green {
    background-color: green;
}

#font-1 {
    font-size: 60px;
}

#font-2 {
    font-size: 40px;
}

#font-3 {
    font-size: 20px;
}